{% extends 'home/base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% block title %}Giỏ hàng{% endblock %}
{% block content %}
    <section style="background-color: black;">
        <div class="container" style="height: 160px;">
            <div><img src="" alt=""></div>
            <h1 style="font-weight: 700; color: #fff; text-align: center; margin-top: 40px">GIỎ HÀNG</h1>
        </div>
    </section>

    <div id="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="" class="not-active">Trang chủ</a></li>
                <span class="kitu"> / </span>
                <li class="active"><span>Giỏ hàng</span></li>
            </ol>
        </div>
    </div>

    <!--== Start Cart Area Wrapper ==-->
    <section class="product-area cart-page-area">
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}"
                         role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="cart-table-wrap">
                        <div class="cart-table table-responsive">
                            <table>
                                <thead>
                                <tr style="text-align: center">
                                    <th class="width-thumbnail"></th>
                                    <th class="width-name">Sản phẩm</th>
                                    <th class="width-price">Đơn giá</th>
                                    <th class="width-quantity">Số lượng</th>
                                    <th class="width-subtotal">Số tiền</th>
                                    <th class="width-remove"><a href="{% url 'cart_delete' %}" title="Xóa tất cả">
                                        <i class='bx bx-trash'></i></a></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in cart %}
                                    <tr>
                                        <td class="product-thumbnail">
                                            <a href="{% url 'product' item.id %}"><img src="{{ MEDIA_URL }}{{ item.image }}"
                                                                                    alt="Image"></a>
                                        </td>
                                        <td class="product-name">
                                            <h5><a href="{% url 'product' item.id %}">{{ item.name }}</a></h5>
                                        </td>
                                        <td class="product-price">
                                            <span class="amount">
                                                {% if item.pricesale > 0 and item.pricesale <= item.price %}
                                                    {{ item.pricesale | floatformat:0 | intcomma }}đ
                                                    <br><del style="font-size: 12px; color: black">{{ item.price | floatformat:0 | intcomma }}₫</del>
                                                {% else  %}
                                                    {{ item.price | floatformat:0 | intcomma }}₫
                                                {% endif %}
                                            </span>
                                        </td>
                                        <td class="cart-quality">
                                            <div class="product-details-quality">
                                                <a type="button" href="{% url 'action_cart' item.id 0 %}"
                                                   style="font-size: 20px; vertical-align: top; border: 1px solid rgba(0,0,0,0.1); width: 32px; padding: 9px 0; text-align: center"><i
                                                        class='bx bx-minus'></i></a>
                                                <input style="text-align: center" disabled type="text" class="input-text qty text" name="quantity"value="{{ item.quantity }}" title="Qty">
                                                <a type="button" href="{% url 'action_cart' item.id 1 %}"
                                                   style="font-size: 20px; vertical-align: top; border: 1px solid rgba(0,0,0,0.1); width: 32px; padding: 9px 0; text-align: center"><i
                                                        class='bx bx-plus'></i></a>
                                            </div>
                                        </td>
                                        <td class="product-total">
                                            <span>
                                                {% if item.pricesale > 0 and item.pricesale <= item.price  %}
                                                    {{ item.pricesale | mul:item.quantity | floatformat:0 | intcomma }}đ
                                                {% else  %}
                                                    {{ item.price | mul:item.quantity | floatformat:0 | intcomma }}đ
                                                {% endif %}
                                            </span>
                                        </td>
                                        <td class="product-remove"><a href="{% url 'cart_delete' item.id %}">
                                            <i class='bx bx-trash'></i></a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin: 50px 0;">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="cart-shiping-update-wrapper">
                            <div class="cart-shiping-btn continure-btn">
                                <a class="btn btn-link" href="{% url 'shop' %}"><i
                                        class='bx bx-left-arrow-alt'></i> Trở về</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="cart-calculate-discount-wrap mb-40">
                            <h4>Mã giảm giá </h4>
                            <div class="calculate-discount-content">
                                {% comment %} <p>Nhập mã giảm giá (nếu có)!</p> {% endcomment %}
                                <form action="{% url 'cart' %}" method="get">
                                    <div class="input-style">
                                        <input type="text" name="voucher_code" placeholder="Mã giảm giá">
                                    </div>
                                    <div class="calculate-discount-btn">
                                        <button class="btn" type="submit">Áp dụng</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-md-12 col-lg-5">
                        <div class="grand-total-wrap" style="float: right; width: 100%;">
                            <form action="{% url 'checkout' %}" method="get">
                                {% csrf_token %}
                                <div class="grand-total-content">
                                    <h3>Tổng tiền hàng <span>{{ totalprice | floatformat:0 | intcomma }}đ</span></h3>
                                    <input type="hidden" name="tongtienhang" value="{{ totalprice }}">
                                    <div class="grand-shipping-1">
                                        <p>Phí vận chuyển
                                            <span>
                                                Miễn phí
                                            </span>
                                        </p>
                                        <input type="hidden" name="ship"
                                               value="0">
                                    </div>
                                    <div class="grand-shipping-2">
                                        <p>Mã giảm giá<span>{{ discount | floatformat:0 | intcomma }}đ</span></p>
                                        <input type="hidden" name="giamgia" value="{{ discount }}">
                                        <input type="hidden" name="magiamgia" value="{{ voucher }}">
                                    </div>
                                    {#                                <div class="shipping-country">#}
                                    {#                                    <p>Vận chuyển đến Cần Thơ</p>#}
                                    {#                                </div>#}
                                    <div class="grand-total">
                                        <h4>Tổng thanh toán <span>{{ totalpayment | floatformat:0 | intcomma }}đ</span>
                                        </h4>
                                        <input type="hidden" name="tongthanhtoan" value="{{ totalpayment }}">
                                    </div>
                                </div>
                                <div class="grand-total-btn">
                                    <button class="btn btn-link" type="submit" href=""
                                            {% if totalpayment <= 0 %}disabled{% endif %}>THANH TOÁN
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}